# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
venv/
.env/

# UV environment (local)
.uv/

# IDEs
.vscode/
.idea/
*.swp

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log

# Byte-compiled
*.egg-info/
dist/
build/

warm-canto-453503-u3-e67ff607230a.json
